submodule/SuperGluePretrainedNetwork
NeRF/wandb
NeRF/logs
NeRF/_unit_test_matches_result

*.vscode*
*.ipynb*
*.idea*
*__pycache__*
*debug*
*wandb*

nerfplusplus/data/*
nerfplusplus/logs

thirdparty/nerfmm_data

model/colormap.png
model/trex_ieod.png 

video_scripts.sh
